@typeparam TItem where TItem : IBaseModel, new()
@typeparam TValue


<TelerikDropDownList Data="@Data"
                     @ref="@dropDownRef"
                     ValueField="@ValueField"
                     TextField="@TextField"
                     DefaultText="Select..."
                     Value="@Value"
                     ValueChanged="@ValueChangedHandler"
                     ValueExpression="@( () => Value )"
                     OnChange="@OnChangeHandler"
                     Enabled="@Enabled"
                     Width="@Width"
                     Id="@Id"
                     Class="@Class"
                     ScrollMode="@ScrollMode"
                     PageSize="@PageSize"
                     Filterable="false"
                     TValue="TValue"
                     TItem="TItem">
    <DropDownListSettings>
        <DropDownListPopupSettings Width="@PopupWidth" MinWidth="@PopupMinWidth" MaxWidth="@PopupMaxWidth" Height="@PopupHeight" MinHeight="@PopupMinHeight" MaxHeight="@PopupMaxHeight" />
    </DropDownListSettings>
    <HeaderTemplate>
        @if (ShowHeader)
        {
            var headerFields = HeaderNames == null ? SearchFields : HeaderNames;
            <div class="combo-table combo-header">
                @foreach (var item in headerFields)
                {
                    <div class="combo-column">@(item)</div>
                }
            </div>
        }
    </HeaderTemplate>
    <ItemTemplate Context="context">
        @{
            var columns = ColumnNames != null ? ColumnNames : SearchFields;
            <div class="combo-table combo-items">
                @foreach (var item in columns)
                {
                    <div class="combo-column">@(typeof(TItem).GetProperty(item).GetValue(context))</div>
                }
            </div>
        }
    </ItemTemplate>
    <FooterTemplate>
        @if (ShowFooter)
        {
            <div class="combo-footer">Count: @Data?.Count()</div>
        }
    </FooterTemplate>
</TelerikDropDownList>



@code {
    [Parameter] public IEnumerable<TItem>? Data { get; set; } = new List<TItem>();
    [Parameter] public IEnumerable<string>? SearchFields { get; set; } = new List<string> { "RowIndex" };
    [Parameter] public IEnumerable<string>? ColumnNames { get; set; }
    [Parameter] public string? ValueField { get; set; }
    [Parameter] public string? TextField { get; set; }

    [Parameter] public TValue? Value { get; set; }
    [Parameter] public EventCallback<TValue> ValueChanged { get; set; }

    [Parameter] public EventCallback<TValue> OnChange { get; set; }

    [Parameter] public IEnumerable<string>? HeaderNames { get; set; }
    [Parameter] public string? Width { get; set; } = "100%";
    [Parameter] public string? PopupWidth { get; set; }
    [Parameter] public string? PopupMinWidth { get; set; }
    [Parameter] public string? PopupMaxWidth { get; set; }
    [Parameter] public string? PopupHeight { get; set; } = "auto";
    [Parameter] public string? PopupMinHeight { get; set; } = "150px";
    [Parameter] public string? PopupMaxHeight { get; set; } = "400px";
    [Parameter] public bool Enabled { get; set; } = true;
    [Parameter] public string? Id { get; set; } = "";
    [Parameter] public string? Class { get; set; } = "";
    [Parameter] public bool ShowHeader { get; set; } = true;
    [Parameter] public bool ShowFooter { get; set; } = true;
    [Parameter] public DropDownScrollMode ScrollMode { get; set; } = DropDownScrollMode.Scrollable;
    [Parameter] public int PageSize { get; set; } = 50;

    TelerikDropDownList<TItem, TValue>? dropDownRef;

    protected override void OnParametersSet()
    {
        dropDownRef?.Rebind();
    }

    public void Rebind()
    {
        dropDownRef?.Rebind();
    }

    async Task ValueChangedHandler(TValue value)
    {
        Value = value;
        await ValueChanged.InvokeAsync(value);
    }

    async Task OnChangeHandler(object value)
    {
        await OnChange.InvokeAsync((TValue)value);
    }
}

<style>

    .combo-table {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }

    .combo-header {
        background: var(--mud-palette-header-background);
        font-weight: 600;
    }

    .combo-items {
    }

    .combo-column {
        width: @($"{100 / (ColumnNames != null ? ColumnNames.Count() : SearchFields.Count())}%");
        padding: 8px 4px;
        margin-left: 4px;
        margin-right: 4px;
        overflow: hidden;
        border-left: 1px solid rgba(0,0,0,.08);
    }

    .combo-footer {
        padding: 8px;
        background: var(--mud-palette-header-background);
    }

    .combo-column:first-child {
        border-left-width: 0;
    }

    .k-list-md .k-list-item, .k-list-md .k-list-optionlabel {
        padding: 0;
    }
</style>