@page "/groups/card"

@implements IDisposable
@using Model = Group


<TelerikForm EditContext="@editContext"
             ValidationMessageType="FormValidationMessageType.Inline"
             Columns="@(AppState.MobileView ? 1 : 2)"
             ColumnSpacing="1rem">
    <FormValidation>
        <DataAnnotationsValidator></DataAnnotationsValidator>
    </FormValidation>
    <FormItems>
        <FormItem Field="@nameof(Model.GroupName)" LabelText="Name"></FormItem>
        <FormItem Field="@nameof(Model.Description)" LabelText="Description"></FormItem>
    </FormItems>
    <FormButtons/>
</TelerikForm>

<TelerikTabStrip @bind-ActiveTabIndex="@activeTabIndex">
    <TabStripTab Title="Users">
        <HeaderTemplate>
            <MudIcon Icon="@Icons.Filled.AccountCircle" />
            <span class="k-pl-2">
                @if (AppState.MobileView)
                {
                    <MudIcon Icon="@Icons.Filled.Circle" Style="font-size: 0.5rem;" Color="@(activeTabIndex == 0 ? Color.Success : Color.Transparent)" />
                }
                else
                {
                    <div>Users</div>
                }
            </span>
        </HeaderTemplate>
        <Content>
            <DoubleGrid @bind-LeftGridData="groupUsers" @bind-RightGridData="allUsers" LeftGridTitle="Group Users" RightGridTitle="All Users" SearchFields="@(new List<string> {"FullName", "UserName"})">
                <GridColumn Field="@(nameof(AppUser.FullName))" Title="Name"/>
                <GridColumn Field="@(nameof(AppUser.UserName))" Title="UserName"/>
            </DoubleGrid>
        </Content>
    </TabStripTab>

    <TabStripTab Title="BusinessUnits">
        <HeaderTemplate>
            <MudIcon Icon="@Icons.Filled.Business" />
            <span class="k-pl-2">
                @if (AppState.MobileView)
                {
                    <MudIcon Icon="@Icons.Filled.Circle" Style="font-size: 0.5rem;" Color="@(activeTabIndex == 1 ? Color.Success : Color.Transparent)" />
                }
                else
                {
                    <div>Business Units</div>
                }
            </span>
        </HeaderTemplate>
        <Content>
            @*<DoubleGrid @bind-LeftGridData="groupBusinessUnits" @bind-RightGridData="allBusinessUnits" LeftGridTitle="Group Business Units" RightGridTitle="All Business Units" SearchFields="@(new List<string> {"BusinessUnitCode", "BusinessUnitName"})">
                <GridColumn Field="@(nameof(BusinessUnit.BusinessUnitCode))" Title="Code"/>
                <GridColumn Field="@(nameof(BusinessUnit.BusinessUnitName))" Title="Name"/>
            </DoubleGrid>*@
        </Content>
    </TabStripTab>

    <TabStripTab Title="Units">
        <HeaderTemplate>
            <MudIcon Icon="@Icons.Filled.Category" />
            <span class="k-pl-2">
                @if (AppState.MobileView)
                {
                    <MudIcon Icon="@Icons.Filled.Circle" Style="font-size: 0.5rem;" Color="@(activeTabIndex == 2 ? Color.Success : Color.Transparent)" />
                }
                else
                {
                    <div>Units</div>
                }
            </span>
        </HeaderTemplate>
        <Content>
            @*<DoubleGrid @bind-LeftGridData="groupUnits" @bind-RightGridData="allUnits" LeftGridTitle="Group Units" RightGridTitle="All Units" SearchFields="@(new List<string> {"UnitCode", "UnitName"})">
                <GridColumn Field="@(nameof(Unit.UnitCode))" Title="Code"/>
                <GridColumn Field="@(nameof(Unit.UnitName))" Title="Name"/>
            </DoubleGrid>*@
        </Content>
    </TabStripTab>

    <TabStripTab Title="Approve Roles">
        <HeaderTemplate>
            <MudIcon Icon="@Icons.Filled.Groups" />
            <span class="k-pl-2">
                @if (AppState.MobileView)
                {
                    <MudIcon Icon="@Icons.Filled.Circle" Style="font-size: 0.5rem;" Color="@(activeTabIndex == 3 ? Color.Success : Color.Transparent)" />
                }
                else
                {
                    <div>Approve Roles</div>
                }
            </span>
        </HeaderTemplate>
        <Content>
            content goes here
        </Content>
    </TabStripTab>

    <TabStripTab Title="Menus">
        <HeaderTemplate>
            <MudIcon Icon="@Icons.Filled.Menu" />
            <span class="k-pl-2">
                @if (AppState.MobileView)
                {
                    <MudIcon Icon="@Icons.Filled.Circle" Style="font-size: 0.5rem;" Color="@(activeTabIndex == 4 ? Color.Success : Color.Transparent)" />
                }
                else
                {
                    <div>Menus</div>
                }
            </span>
        </HeaderTemplate>
        <Content>
            content goes here
        </Content>
    </TabStripTab>
</TelerikTabStrip>


@code {
    [CascadingParameter] public AppState AppState { get; set; }
    [CascadingParameter] public DialogFactory Dialogs { get; set; }

    Model currentModel = new();
    EditContext editContext;

    List<AppUser> groupUsers = new() { new AppUser { FullName="Samir", UserName="samir@domain.com" }, new AppUser { FullName="Tural", UserName="tural@example.com" }, new AppUser { FullName="Elshad", UserName="elshad@somemail.com" } };
    List<AppUser> allUsers = new() { new AppUser { FullName="Arif", UserName="arif@somemail.com" }, new AppUser { FullName="Pasha", UserName="pasha@domain.com" } };

    int activeTabIndex = 0;

    protected override async Task OnInitializedAsync()
    {
        SetQueryVariables();
        OnAppStateInitialized();
        editContext = new EditContext(currentModel);
    }

    void OnAppStateInitialized()
    {
        AppState.SetDefaults();
        AppState.BackButtonVisible = true;
        AppState.OnBackClick += BackClick;
    }

    void IDisposable.Dispose()
    {
        AppState.OnBackClick -= BackClick;
    }

    void SetQueryVariables()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        var _modelId = 0;
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var _id))
        {
            _modelId = Convert.ToInt32(_id);
        }
    }

    void BackClick()
    {
        NavigationManager.NavigateTo("/groups");
    }

    
}
