@page "/"
@implements IDisposable
@using Model = BaseModel
@inject VendorService VendorService

<PageTitle>Index</PageTitle>

@if (showSupplierRegistration)
{
    <RegisterSupplier @ref="@registerSupplier"
                  @bind-CurrentPerson="@currentPerson"
                  CurrentVendor="@currentVendor"
                  CurrentVendorChanged="@CurrentVendorChanged"
                  CurrentPageIndex="@currentPageIndex"
                  CurrentPageIndexChanged="@CurrentPageIndexChangeHandler" />
}
else if (showWaitForConfirmation)
{
    <h3>Wait for Confirmation</h3>
}
else
{
    <h3>Dashboard Placeholder</h3>
}

@code {
    [CascadingParameter] public AppState? AppState { get; set; }

    AppUser? currentPerson = new();
    Vendor? currentVendor = new() { BankList = new(), EvaluationForm = new() };

    RegisterSupplier? registerSupplier;
    bool showSupplierRegistration = false;
    bool showWaitForConfirmation = false;
    int currentPageIndex = 0; // total 3 pages

    protected override void OnInitialized()
    {
        OnAppStateInitialized();
        ShowSupplierRegistrationPage();
        currentPerson = SessionData.CurrentUser;
    }

    void ShowSupplierRegistrationPage()
    {
        if (SessionData.CurrentUser != null && SessionData.CurrentUser.StatusId == 1)
        {
            if (AppState != null)
            {
                AppState.BackButtonVisible = true;
                AppState.NextButtonVisible = true;
            }
            showSupplierRegistration = true;
            showWaitForConfirmation = false;
        }
        else if (SessionData.CurrentUser != null && SessionData.CurrentUser.StatusId == 2)
        {
            if (AppState != null)
            {
                AppState.BackButtonVisible = false;
                AppState.NextButtonVisible = false;
            }
            showSupplierRegistration = false;
            showWaitForConfirmation = true;
        }
        else
        {
            if (AppState != null)
            {
                AppState.BackButtonVisible = false;
                AppState.NextButtonVisible = false;
            }
            showSupplierRegistration = false;
            showWaitForConfirmation = false;
        }
    }

    void OnAppStateInitialized()
    {
        if (AppState != null)
        {
            AppState.SetDefaults();
            SetButtonsAbility();
            AppState.OnBackClick += BackClickHandler;
            AppState.OnNextClick += NextClickHandler;
            AppState.OnAddClick += AddClickHandler;
            AppState.OnSaveClick += SaveClickHandler;
        }
    }

    void IDisposable.Dispose()
    {
        if (AppState != null)
        {
            AppState.OnBackClick -= BackClickHandler;
            AppState.OnNextClick -= NextClickHandler;
            AppState.OnAddClick -= AddClickHandler;
            AppState.OnSaveClick -= SaveClickHandler;
        }
    }

    void BackClickHandler()
    {
        currentPageIndex -= 1;
        SetButtonsAbility();
    }

    async void NextClickHandler()
    {
        var isVendorValid = registerSupplier != null ? await registerSupplier.NextClickValid() : false;
        if (isVendorValid)
        {
            currentPageIndex += 1;
        }
        SetButtonsAbility();
    }

    void SetButtonsAbility()
    {
        if (currentPageIndex == 0)
        {
            if (AppState != null)
            {
                AppState.BackButtonEnabled = false;
                AppState.NextButtonEnabled = true;
                AppState.AddButtonVisible = false;
                AppState.SaveButtonVisible = false;
            }
        }
        else if (currentPageIndex == 1)
        {
            if (AppState != null)
            {
                AppState.BackButtonEnabled = true;
                AppState.NextButtonEnabled = true;
                AppState.AddButtonVisible = true;
                AppState.SaveButtonVisible = false;
            }
        }
        else if (currentPageIndex == 2)
        {
            if (AppState != null)
            {
                AppState.BackButtonEnabled = true;
                AppState.NextButtonEnabled = false;
                AppState.AddButtonVisible = false;
                AppState.SaveButtonVisible = true;
            }
        }
        else
        {
            if (AppState != null)
            {
                AppState.BackButtonEnabled = false;
                AppState.NextButtonEnabled = false;
                AppState.AddButtonVisible = false;
                AppState.SaveButtonVisible = false;
            }
        }
        AppState?.Refresh();
    }

    async void SaveClickHandler()
    {
        var isValid = registerSupplier != null ? await registerSupplier.SaveValid() : false;
        var sqlResult = currentVendor != null ? await VendorService.RegisterSupplier(currentVendor) : null;
        if (AppState != null && sqlResult != null && sqlResult.QueryResultMessage == null)
        {
            SessionData.CurrentUser = await AppUserService.GetCurrentUserAsync();
            ShowSupplierRegistrationPage();
            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            AppState.ShowAlert(sqlResult.QueryResultMessage, Severity.Error);
        }
    }

    void AddClickHandler()
    {
        registerSupplier?.AddClickHandler();
    }

    void CurrentPageIndexChangeHandler(int pageIndex)
    {
        currentPageIndex = pageIndex;
        SetButtonsAbility();
    }

    void CurrentVendorChanged(Vendor vendor)
    {
        currentVendor = vendor;
        if (AppState != null && currentVendor.Exists)
        {
            AppState.AddButtonEnabled = false;
        }
        else if (AppState != null)
        {
            AppState.AddButtonEnabled = true;
        }
        AppState?.Refresh();
    }

}
