@page "/payments/post"
@implements IDisposable
@inject PaymentDocumentService PaymentDocumentService
@inject BankService BankService
@using Model = PaymentDocumentMain

<PageTitle>Payment Document Post</PageTitle>


<TelerikGridLayout RowSpacing="16px" ColumnSpacing="32px">
    <GridLayoutColumns>
        <GridLayoutColumn Width="460px" />
        <GridLayoutColumn />
    </GridLayoutColumns>
    <GridLayoutItems>
        <GridLayoutItem Row="1" Column="1">

            <div class="flex-center-y flex-nowrap k-mb-2">
                <span class="k-mr-2 label-width">Business Unit:</span>
                <input type="text" class="input-height item-width k-input k-input-md k-rounded-md input-padding" value="@(currentModel.BusinessUnitCode)" readonly />
            </div>

            <div class="flex-center-y flex-nowrap k-mb-2">
                <span class="k-mr-2 label-width">Vendor Code:</span>
                <input type="text" class="input-height item-width k-input k-input-md k-rounded-md input-padding" value="@(currentModel.VendorCode)" readonly />
            </div>

            <div class="flex-center-y flex-nowrap k-mb-2">
                <span class="k-mr-2 label-width">Vendor Name:</span>
                <input type="text" class="input-height item-width k-input k-input-md k-rounded-md input-padding" value="@(currentModel.VendorName)" readonly />
            </div>

            <div class="flex-center-y flex-nowrap k-mb-2">
                <span class="k-mr-2 label-width">Reference:</span>
                <input type="text" class="input-height item-width k-input k-input-md k-rounded-md input-padding" value="@(currentModel.Reference)" readonly />
            </div>

            @{
                var priority = currentModel.PaymentDocumentPriorityId;
                <div class="flex-center-y flex-nowrap k-mb-2">
                    <span class="k-mr-2 label-width">Priority:</span>
                    <div class="input-height item-width flex-center-y">
                        <MudIcon Icon="@(priority == 1 ? Icons.Filled.North : priority == 2 || priority == 0 ? Icons.Filled.East : Icons.Filled.South)" Color="@(priority == 1 ? Color.Success : priority == 2 || priority == 0 ? Color.Warning : Color.Error)" />
                        <span class="k-px-1">@(priority == 1 ? "High" : priority == 2 ? "Normal" : priority == 3 ? "Low" : "")</span>
                    </div>
                </div>
            }

            <div class="flex-center-y flex-nowrap k-mb-2">
                <span class="k-mr-2 label-width">Comment:</span>
                <input type="text" class="input-height item-width k-input k-input-md k-rounded-md input-padding" value="@(currentModel.Comment)" readonly />
            </div>

            <div class="flex-center-y flex-nowrap k-mb-2">
                <span class="k-mr-2 label-width">Currency Code:</span>
                <input type="text" class="input-height item-width k-input k-input-md k-rounded-md input-padding" value="@(currentModel.CurrencyCode)" readonly />
            </div>

        </GridLayoutItem>

        <GridLayoutItem Row="@(!AppState.MobileView ? 1 : 2)" Column="@(!AppState.MobileView ? 2 : 1)">

            <EditForm EditContext="@modelContext">
                <DataAnnotationsValidator />

                <div class="flex-center-y flex-nowrap k-mb-2">
                    <span class="k-mr-2 label-width">Payment Date:</span>
                    <div class="item-width @(invalidPaymentDate ? "invalid-form" : "")">
                        <TelerikDatePicker Id="paymentdate" Format="yyyy-MM-dd" @bind-Value="@currentModel.PaymentDate" Enabled="true" />
                    </div>
                </div>

                <div class="flex-center-y flex-nowrap k-mb-2">
                    <span class="k-mr-2 label-width">Bank Code:</span>
                    <div class="item-width @(invalidBankCode ? "invalid-form" : "")">
                        <GridComboBox @bind-Value="@currentModel.BankCode"
                                      Id="bankcode"
                                      Data="@bankList"
                                      TextField="BankCode"
                                      ValueField="BankCode"
                                      SearchFields="@(new List<string> {"BankCode", "BankName"})"
                                      HeaderNames="@(new List<string> {"Bank Code", "Bank Name", "Currency Code", "Balance", "Account"})"
                                      ColumnNames="@(new List<string> {"BankCode", "BankName", "CurrencyCode", "Balance", "Account"})"
                                      PopupWidth="100%"
                                      PopupMaxWidth="600px" />
                    </div>
                </div>

                <div class="flex-center-y flex-nowrap k-mb-2">
                    <span class="k-mr-2 label-width">VAT Bank:</span>
                    <div class="item-width @(invalidVATBankCode ? "invalid-form" : "")">
                        <GridComboBox @bind-Value="@currentModel.VATBankCode"
                                      Id="vatbankcode"
                                      Data="@bankList"
                                      TextField="BankCode"
                                      ValueField="BankCode"
                                      SearchFields="@(new List<string> {"BankCode", "BankName"})"
                                      HeaderNames="@(new List<string> {"Bank Code", "Bank Name", "Currency Code", "Balance", "Account"})"
                                      ColumnNames="@(new List<string> {"BankCode", "BankName", "CurrencyCode", "Balance", "Account"})"
                                      PopupWidth="100%"
                                      PopupMaxWidth="600px" />
                    </div>
                </div>

                <ReadOnlyField Value="@(currentModel.ExpenseCode)" Label="Expense Code:" Class="flex-center-y flex-nowrap k-mb-2" LabelClass="k-mr-2 label-width" InputClass="item-width" />
                <ReadOnlyField Value="@(currentModel.GroupProject)" Label="Group Project:" Class="flex-center-y flex-nowrap k-mb-2" LabelClass="k-mr-2 label-width" InputClass="item-width" />
                <ReadOnlyField Value="@(currentModel.Project)" Label="Project:" Class="flex-center-y flex-nowrap k-mb-2" LabelClass="k-mr-2 label-width" InputClass="item-width" />

                <div class="flex-center-y flex-nowrap k-mb-2">
                    <span class="k-mr-2 label-width">Bank Charge:</span>
                    <div class="item-width @(invalidBankCharge ? "invalid-form" : "")">
                        <TelerikNumericTextBox Id="bankcharge" Min="0" @bind-Value="@currentModel.BankCharge" Arrows="false" Format="N3" Enabled="true" />
                    </div>
                </div>

            </EditForm>
        </GridLayoutItem>
    </GridLayoutItems>
</TelerikGridLayout>


<div>
    <DataGrid @bind-Data="@currentModel.PaymentDocumentDetailList"
              ShowContextMenu="false"
              ShowToolbar="false"
              Pageable="true"
              ShowCheckBoxColumn="false"
              @bind-SelectedItems="@selectedPaymentDocumentDetailList"
              Height="calc(100vh - 440px)"
              ShowSearchBar="false">
        <DataGridColumns>
            <GridColumn Field="@(nameof(PaymentDocumentDetail.PaymentDocumentDetailId))" Title="Id" Width="80px" Editable="false" Locked="true" Visible="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.PONum))" Title="PO Num" Width="110px" Editable="false" Locked="true" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.Voucher))" Title="Voucher" Width="100px" Editable="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.BankAmount))" Title="Bank Amount" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="140px">
                <Template>
                    @{
                        selectedPaymentDocumentDetail = context as PaymentDocumentDetail;
                        <TelerikNumericTextBox Arrows="false" Format="N3" Class="text-right" Value="@(selectedPaymentDocumentDetail.BankAmount)" ValueChanged="@((decimal value) => BankAmountChanged(value))" />
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@(nameof(PaymentDocumentDetail.VendorAmount))" Title="Vendor Amount" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="140px">
                <Template>
                    @{
                        selectedPaymentDocumentDetail = context as PaymentDocumentDetail;
                        <TelerikNumericTextBox Arrows="false" Format="N3" Class="text-right" Value="@(selectedPaymentDocumentDetail.VendorAmount)" ValueChanged="@((decimal value) => VendorAmountChanged(value))" />
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@(nameof(PaymentDocumentDetail.BankRate))" Title="Bank Rate" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="140px">
                <Template>
                    @{
                        selectedPaymentDocumentDetail = context as PaymentDocumentDetail;
                        <TelerikNumericTextBox Arrows="false" Format="N3" Class="text-right" Value="@(selectedPaymentDocumentDetail.BankRate)" ValueChanged="@((decimal value) => BankRateChanged(value))" />
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@(nameof(PaymentDocumentDetail.VendorRate))" Title="Vendor Rate" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="140px">
                <Template>
                    @{
                        selectedPaymentDocumentDetail = context as PaymentDocumentDetail;
                        <TelerikNumericTextBox Arrows="false" Format="N3" Class="text-right" Value="@(selectedPaymentDocumentDetail.VendorRate)" ValueChanged="@((decimal value) => VendorRateChanged(value))" />
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@(nameof(PaymentDocumentDetail.VAT))" Title="VAT" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="100px">
                <Template>
                    @{
                        selectedPaymentDocumentDetail = context as PaymentDocumentDetail;
                        <TelerikNumericTextBox Arrows="false" Format="N3" Class="text-right" Value="@(selectedPaymentDocumentDetail.VAT)" ValueChanged="@((decimal value) => VATChanged(value))" />
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@(nameof(PaymentDocumentDetail.VATBankAmount))" Title="VAT Bank Amount" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="140px">
                <Template>
                    @{
                        selectedPaymentDocumentDetail = context as PaymentDocumentDetail;
                        <TelerikNumericTextBox Arrows="false" Format="N3" Class="text-right" Value="@(selectedPaymentDocumentDetail.VATBankAmount)" ValueChanged="@((decimal value) => VATBankAmountChanged(value))" />
                    }
                </Template>
            </GridColumn>

            <GridColumn Field="@(nameof(PaymentDocumentDetail.PaidAmount))" Title="Paid Amount" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="130px" Editable="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.PaidVAT))" Title="Paid VAT" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="110px" Editable="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.AmountToPay))" Title="Amount To Pay" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="145px" Editable="false" Visible="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.VATToPay))" Title="VAT To Pay" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="122px" Editable="false" Visible="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.POAmount))" Title="PO Amount" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="120px" Editable="false" Visible="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.PO_VAT))" Title="PO VAT" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="100px" Editable="false" Visible="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.VoucherAmount))" Title="Voucher Amount" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="154px" Editable="false" Visible="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.VoucherVAT))" Title="Voucher VAT" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="130px" Editable="false" Visible="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.AdvanceAmount))" Title="Advance Amount" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="157px" Editable="false" Visible="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.AdvanceVAT))" Title="Advance VAT" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="133px" Editable="false" Visible="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.PaymentDocumentAmount))" Title="Paym. Doc. Amount" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="177px" Editable="false" Visible="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.PaymentDocumentVAT))" Title="Paym. Doc. VAT" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="155px" Editable="false" Visible="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.TotalToPay))" Title="Total To Pay" DisplayFormat="{0:N3}" TextAlign="ColumnTextAlign.Right" Width="130px" Editable="false" Visible="false" />
            <GridColumn Field="@(nameof(PaymentDocumentDetail.IsVAT))" Title="VAT" TextAlign="ColumnTextAlign.Right" Width="75px" Editable="false" Visible="false">
                <Template>
                    @{
                        var vat = (context as PaymentDocumentDetail).IsVAT;
                        <div>@(vat > 0 ? (vat + "%") : "")</div>
                    }
                </Template>
            </GridColumn>
        </DataGridColumns>
    </DataGrid>
</div>


@code {
    [CascadingParameter] public AppState AppState { get; set; }
    [CascadingParameter] public DialogFactory Dialogs { get; set; }

    IEnumerable<Bank> bankList = new List<Bank>();

    Model currentModel = new();
    EditContext modelContext = new(new Model());

    IEnumerable<PaymentDocumentDetail> selectedPaymentDocumentDetailList = new List<PaymentDocumentDetail>();
    PaymentDocumentDetail selectedPaymentDocumentDetail = new();

    int modelId = 0;

    bool invalidPaymentDate = false;
    bool invalidBankCode => (currentModel.PaymentDocumentDetailList.Sum(e => e.VendorAmount) > 0 || currentModel.PaymentDocumentDetailList.Sum(e => e.VAT) > 0) && string.IsNullOrEmpty(currentModel.BankCode);
    bool invalidVATBankCode => currentModel.PaymentDocumentDetailList.Sum(e => e.VATBankAmount) > 0 && string.IsNullOrEmpty(currentModel.VATBankCode);
    bool invalidExpenseCode => string.IsNullOrEmpty(currentModel.ExpenseCode);
    bool invalidGroupProject => string.IsNullOrEmpty(currentModel.GroupProject);
    bool invalidProject => string.IsNullOrEmpty(currentModel.Project);
    bool invalidBankCharge = false;
    bool isModelValid => !invalidPaymentDate && !invalidBankCode && !invalidVATBankCode && !invalidExpenseCode && !invalidGroupProject && !invalidProject && !invalidBankCharge;

    protected override async Task OnInitializedAsync()
    {
        SetQueryVariables();
        OnAppStateInitialized();
        await LoadData();
    }

    void OnAppStateInitialized()
    {
        AppState.SetDefaults();

        AppState.BackButtonVisible = true;
        AppState.OnBackClick += BackClick;

        AppState.CustomButton01Visible = true;
        AppState.CustomButton01Title = "Post";
        AppState.OnCustomButton01Click += Post;
    }

    void IDisposable.Dispose()
    {
        AppState.OnBackClick -= BackClick;
        AppState.OnCustomButton01Click -= Post;
    }

    void SetQueryVariables()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        modelId = 0;
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var _id))
        {
            modelId = Convert.ToInt32(_id);
        }
    }

    async Task LoadData()
    {
        AppState.Loading = true;

        currentModel = await PaymentDocumentService.GetPost(modelId);
        bankList = await BankService.GetAll();

        AppState.Loading = false;
    }

    void BackClick()
    {
        NavigationManager.NavigateTo("/payments");
    }

    void BankAmountChanged(decimal value)
    {
        selectedPaymentDocumentDetail.BankAmount = value;
    }

    void VendorAmountChanged(decimal value)
    {
        selectedPaymentDocumentDetail.VendorAmount = value;
    }

    void BankRateChanged(decimal value)
    {
        selectedPaymentDocumentDetail.BankRate = value;
    }

    void VendorRateChanged(decimal value)
    {
        selectedPaymentDocumentDetail.VendorRate = value;
    }

    void VATChanged(decimal value)
    {
        selectedPaymentDocumentDetail.VAT = value;
    }

    void VATBankAmountChanged(decimal value)
    {
        selectedPaymentDocumentDetail.VATBankAmount = value;
    }

    async void Post()
    {
        AppState.Loading = true;
        if (isModelValid)
        {
            // send to SyteLine
            var result = await PaymentDocumentService.PostDocument(currentModel);
            if (result.QueryResultMessage == null)
            {
                AppState.ShowAlert("Posted", Severity.Success);
            }
            else
            {
                AppState.ShowAlert(result.QueryResultMessage, Severity.Error);
            }
        }
        else
        {
            AppState.ShowAlert("Validation error", Severity.Error);
        }

        AppState.Loading = false;
    }
}

<style>
    .label-width {
        width: 100px;
        white-space: nowrap;
    }

    .item-width {
        width: 350px;
    }

    .input-height {
        min-height: 30px;
    }

    .k-form .k-form-field {
        margin-top: 0.4em;
    }

</style>