@page "/vendors"
@implements IDisposable
@inject VendorService VendorService


<PageTitle>Vendors</PageTitle>


<TelerikTabStrip ActiveTabIndex="@activeTabIndex" ActiveTabIndexChanged="@ActiveTabIndexChanged">
    <TabStripTab Title="Waiting for Approval">
        <Content>
            <DataGrid Data="@vendorList"
                      CanExport="true"
                      Height="calc(100vh - 240px)"
                      ShowSearchBar="true"
                      OnRowDoubleClick="@OnRowDoubleClickHandler"
                      SearchFields="@(new List<string> { "VendorName" })"
                      @bind-SelectedItems="@selectedVendorList"
                      HierarchyDetailsField="CompanyUsers">
                <HierarchyContent>
                    @{
                        var vendor = context as Vendor;
                        <TelerikGrid Data="@vendor.CompanyUsers">
                            <GridColumns>
                                <GridColumn Field="@(nameof(AppUser.UserName))" Title="UserName" Width="260px" />
                                <GridColumn Field="@(nameof(AppUser.FullName))" Title="Name" Width="180px" />
                                <GridColumn Field="@(nameof(AppUser.Position))" Title="Position" Width="180px" />
                                <GridColumn Field="@(nameof(AppUser.StatusName))" Title="Status" Width="100px">
                                    <Template Context="rowContext">
                                        <div class="flex-center-y">
                                            @{
                                                var user = rowContext as AppUser;
                                                if (user is { StatusId: 0 })
                                                {
                                                    <MudIcon Icon="@Icons.Filled.Person" Color="Color.Success" Size="Size.Small" />
                                                }
                                                else if (user is { StatusId: 1 })
                                                {
                                                    <MudIcon Icon="@Icons.Filled.Person" Color="Color.Default" Size="Size.Small" />
                                                }
                                                else if (user is { StatusId: 2 })
                                                {
                                                    <MudIcon Icon="@Icons.Filled.Person" Color="Color.Error" Size="Size.Small" />
                                                }
                                                else if (user is { StatusId: 9 })
                                                {
                                                    <MudIcon Icon="@Icons.Filled.PersonOff" Color="Color.Default" Size="Size.Small" />
                                                }
                                                else
                                                {
                                                    <span>-contact-dev-</span>
                                                }
                                            }
                                            <span class="k-px-2">@(userStatusList.FirstOrDefault(e => e.StatusId == user.StatusId).StatusName)</span>
                                        </div>
                                    </Template>
                                </GridColumn>
                            </GridColumns>
                        </TelerikGrid>
                    }
                </HierarchyContent>
                <DataGridColumns>
                    <GridColumn Field="@(nameof(Vendor.VendorId))" Title="Id" Width="70px" Editable="false" TextAlign="ColumnTextAlign.Right" Visible="false" />
                    <GridColumn Field="@(nameof(Vendor.VendorCode))" Title="Code" Width="260px" />
                    <GridColumn Field="@(nameof(Vendor.VendorName))" Title="Name" Width="260px" />
                    <GridColumn Field="@(nameof(Vendor.TaxId))" Title="Tax Id" Width="260px" />
                    <GridColumn Field="@(nameof(Vendor.CountryCode))" Title="Country" Width="260px" />
                    <GridColumn Field="@(nameof(Vendor.CompanyWebsite))" Title="Website" Width="260px" />
                    <GridColumn Field="@(nameof(Vendor.StatusId))" Title="Status" Width="260px" />
                </DataGridColumns>
            </DataGrid>
        </Content>
    </TabStripTab>

    <TabStripTab Title="All">
        <Content>

        </Content>
    </TabStripTab>
</TelerikTabStrip>



@code {
    [CascadingParameter] AppState? AppState { get; set; }
    [CascadingParameter] DialogFactory? DialogFactory { get; set; }

    List<Vendor>? vendorList = new();
    IEnumerable<Vendor>? selectedVendorList = new List<Vendor>();
    IEnumerable<VendorStatus>? vendorStatusList = new List<VendorStatus>();

    IEnumerable<UserStatus>? userStatusList = new List<UserStatus>();

    int activeTabIndex = 0;

    protected override async Task OnInitializedAsync()
    {
        OnAppStateInitialized();
        await LoadData();
    }

    void OnAppStateInitialized()
    {
        if (AppState == null) return;
        AppState.SetDefaults();
        AppState.BackButtonVisible = true;
        AppState.OnBackClick += BackClick;
    }

    void IDisposable.Dispose()
    {
        if (AppState == null) return;
        AppState.OnBackClick -= BackClick;
    }

    async Task LoadData()
    {
        if (AppState == null) return;

        AppState.Loading = true;
        userStatusList = AppUserService.GetStatusList();
        vendorStatusList = VendorService.GetStatusList();
        var _vendorList = await VendorService.GetAllAsync(1);
        if (vendorList != null) { vendorList = _vendorList.ToList(); }
        AppState.Loading = false;
    }

    void GoToDetails(int id)
    {
        NavigationManager.NavigateTo($"/vendors/card?id={id}");
    }

    void OnRowClickHandler(GridRowClickEventArgs args)
    {
        if (args.Item is AppUser argsItem) { }
    }

    void OnRowDoubleClickHandler(GridRowClickEventArgs args)
    {
        if (args.Item is AppUser argsItem) { GoToDetails(argsItem.Id); }
    }

    void BackClick()
    {
        NavigationManager.NavigateTo("/");
    }

    void ActiveTabIndexChanged(int tabIndex)
    {
        if (AppState == null) return;

        AppState.Loading = true;
        activeTabIndex = tabIndex;
        selectedVendorList = new List<Vendor>();
        //SetMenuButtonsVisibility();
        AppState.Loading = false;
    }

}