
<MudCard Class="k-p-8" Style="max-width:1280px; margin:auto">
    <h3 class="k-mb-4">SUPPLIER EVALUATION FORM</h3>

    <div class="k-mb-2 flex-content-right flex-center-y">
        <div class="k-mr-2">Total score: </div>
        <strong class="@scoreClass k-p-1 text-right" style="border: 1px solid #424242; min-width:68px;">@supplierScore.ToString("P")</strong>
    </div>

    <TelerikForm Model="@CurrentVendor.EvaluationForm" Orientation="@(AppState != null && AppState.MobileView ? FormOrientation.Vertical : FormOrientation.Horizontal)">
        <FormValidation>
            <FluentValidationValidator @ref="evaluationFormValidator" DisableAssemblyScanning="true" />
        </FormValidation>
        <FormItems>
            <FormGroup LabelText="CONTEXT OF THE ORGANIZATION">
                <FormItem Field="@nameof(EvaluationForm.ContextOfTheOrganization1)" Enabled="@(CurrentVendor != null && !CurrentVendor.Exists)">
                    <Template>
                        <label for="context1" class="k-label k-form-label k-mr-10">
                            <span>Is your company ISO 9001:2015 certified? (If "Yes", please attach copy of certificate) </span>
                            <div class="flex-align-top">
                                <div class="k-mr-4 k-mt-1">
                                    <label for="expirationdate">Expiration Date: </label>
                                    <TelerikDatePicker Class="expiration-date-picker"
                                                       Id="expirationdate"
                                                       Min="@(new DateTime(2022, 1, 1))"
                                                       Max="@(new DateTime(2050, 12, 31))" @bind-Value="@(CurrentVendor.EvaluationForm.ExpirationDate)"/>
                                </div>
                                <FileSelect HideList="true"
                                            Multiple="false"
                                            AttachmentList="@certificateList"
                                            AttachmentListChanged="@CertificateListChanged" />
                            </div>
                        </label>
                        <div class="k-form-field-wrap">
                            <TelerikRadioGroup Id="context1"
                                               Layout="RadioGroupLayout.Horizontal"
                                               Data="@selectOptions"
                                               @bind-Value="@CurrentVendor.EvaluationForm.ContextOfTheOrganization1"
                                               ValueField="@nameof(EvaluationOptions.Selection)"
                                               TextField="@nameof(EvaluationOptions.Name)">
                            </TelerikRadioGroup>
                            <TelerikValidationMessage For="@(() => CurrentVendor.EvaluationForm.ContextOfTheOrganization1)" />
                        </div>
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(EvaluationForm.ContextOfTheOrganization2)" Enabled="@(CurrentVendor != null && !CurrentVendor.Exists)">
                    <Template>
                        <label for="context2" class="k-label k-form-label k-mr-10">Has your company determined external and internal issues that are relevant to its purpose and its strategic direction and that affect its ability to achieve the intended results of its QMS?</label>
                        <div class="k-form-field-wrap">
                            <TelerikRadioGroup Id="context2"
                                               Layout="RadioGroupLayout.Horizontal"
                                               Data="@selectOptions"
                                               @bind-Value="@CurrentVendor.EvaluationForm.ContextOfTheOrganization2"
                                               ValueField="@nameof(EvaluationOptions.Selection)"
                                               TextField="@nameof(EvaluationOptions.Name)">
                            </TelerikRadioGroup>
                            <TelerikValidationMessage For="@(() => CurrentVendor.EvaluationForm.ContextOfTheOrganization2)" />
                        </div>
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(EvaluationForm.ContextOfTheOrganization3)" Enabled="@(CurrentVendor != null && !CurrentVendor.Exists)">
                    <Template>
                        <label for="context3" class="k-label k-form-label k-mr-10">Does your company monitor and review information about all interested parties and their relevant requirements?</label>
                        <div class="k-form-field-wrap">
                            <TelerikRadioGroup Id="context3"
                                               Layout="RadioGroupLayout.Horizontal"
                                               Data="@selectOptions"
                                               @bind-Value="@CurrentVendor.EvaluationForm.ContextOfTheOrganization3"
                                               ValueField="@nameof(EvaluationOptions.Selection)"
                                               TextField="@nameof(EvaluationOptions.Name)">
                            </TelerikRadioGroup>
                            <TelerikValidationMessage For="@(() => CurrentVendor.EvaluationForm.ContextOfTheOrganization3)" />
                        </div>
                    </Template>
                </FormItem>
            </FormGroup>
            <FormGroup LabelText="LEADERSHIP">
                <FormItem Field="@nameof(EvaluationForm.Leadership1)" Enabled="@(CurrentVendor != null && !CurrentVendor.Exists)">
                    <Template>
                        <label for="leadership1" class="k-label k-form-label k-mr-10">Has your company established, implemented and maintains Quality Policy?</label>
                        <div class="k-form-field-wrap">
                            <TelerikRadioGroup Id="leadership1"
                                               Layout="RadioGroupLayout.Horizontal"
                                               Data="@selectOptions"
                                               @bind-Value="@CurrentVendor.EvaluationForm.Leadership1"
                                               ValueField="@nameof(EvaluationOptions.Selection)"
                                               TextField="@nameof(EvaluationOptions.Name)">
                            </TelerikRadioGroup>
                            <TelerikValidationMessage For="@(() => CurrentVendor.EvaluationForm.Leadership1)" />
                        </div>
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(EvaluationForm.Leadership2)" Enabled="@(CurrentVendor != null && !CurrentVendor.Exists)">
                    <Template>
                        <label for="leadership2" class="k-label k-form-label k-mr-10">Do responsibilities and authorities for relevant roles are assigned, communicated and understood within your company?</label>
                        <div class="k-form-field-wrap">
                            <TelerikRadioGroup Id="leadership2"
                                               Layout="RadioGroupLayout.Horizontal"
                                               Data="@selectOptions"
                                               @bind-Value="@CurrentVendor.EvaluationForm.Leadership2"
                                               ValueField="@nameof(EvaluationOptions.Selection)"
                                               TextField="@nameof(EvaluationOptions.Name)">
                            </TelerikRadioGroup>
                            <TelerikValidationMessage For="@(() => CurrentVendor.EvaluationForm.Leadership2)" />
                        </div>
                    </Template>
                </FormItem>
            </FormGroup>
            <FormGroup LabelText="CONTEXT OF THE ORGANIZATION">
                <FormItem Field="@nameof(EvaluationForm.Planning1)" Enabled="@(CurrentVendor != null && !CurrentVendor.Exists)">
                    <Template>
                        <label for="planning1" class="k-label k-form-label k-mr-10">Does your company have "Risk Assessment and Management" process?</label>
                        <div class="k-form-field-wrap">
                            <TelerikRadioGroup Id="planning1"
                                               Layout="RadioGroupLayout.Horizontal"
                                               Data="@selectOptions"
                                               @bind-Value="@CurrentVendor.EvaluationForm.Planning1"
                                               ValueField="@nameof(EvaluationOptions.Selection)"
                                               TextField="@nameof(EvaluationOptions.Name)">
                            </TelerikRadioGroup>
                            <TelerikValidationMessage For="@(() => CurrentVendor.EvaluationForm.Planning1)" />
                        </div>
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(EvaluationForm.Planning2)" Enabled="@(CurrentVendor != null && !CurrentVendor.Exists)">
                    <Template>
                        <label for="planning2" class="k-label k-form-label k-mr-10">Has your company established, monitored and reviews the Quality Objectives?</label>
                        <div class="k-form-field-wrap">
                            <TelerikRadioGroup Id="planning2"
                                               Layout="RadioGroupLayout.Horizontal"
                                               Data="@selectOptions"
                                               @bind-Value="@CurrentVendor.EvaluationForm.Planning2"
                                               ValueField="@nameof(EvaluationOptions.Selection)"
                                               TextField="@nameof(EvaluationOptions.Name)">
                            </TelerikRadioGroup>
                            <TelerikValidationMessage For="@(() => CurrentVendor.EvaluationForm.Planning2)" />
                        </div>
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(EvaluationForm.Planning3)" Enabled="@(CurrentVendor != null && !CurrentVendor.Exists)">
                    <Template>
                        <label for="planning3" class="k-label k-form-label k-mr-10">Does your company control the changes?</label>
                        <div class="k-form-field-wrap">
                            <TelerikRadioGroup Id="planning3"
                                               Layout="RadioGroupLayout.Horizontal"
                                               Data="@selectOptions"
                                               @bind-Value="@CurrentVendor.EvaluationForm.Planning3"
                                               ValueField="@nameof(EvaluationOptions.Selection)"
                                               TextField="@nameof(EvaluationOptions.Name)">
                            </TelerikRadioGroup>
                            <TelerikValidationMessage For="@(() => CurrentVendor.EvaluationForm.Planning3)" />
                        </div>
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(EvaluationForm.OtherAttachments)" Enabled="@(CurrentVendor != null && !CurrentVendor.Exists)">
                    <Template>
                        <label for="planning3" class="k-label k-form-label k-mr-10">Other Attachments</label>
                        <div class="k-form-field-wrap">
                            <FileSelect AttachmentList="@CurrentVendor.EvaluationForm.OtherAttachments"
                                        AttachmentListChanged="@OtherAttachmentsChanged" />
                            <TelerikValidationMessage For="@(() => CurrentVendor.EvaluationForm.OtherAttachments)" />
                        </div>
                    </Template>
                </FormItem>
            </FormGroup>
            <TelerikValidationSummary />
        </FormItems>
        <FormButtons />
    </TelerikForm>
</MudCard>


@code {
    [CascadingParameter] public AppState? AppState { get; set; }

    [Parameter] public Vendor? CurrentVendor { get; set; }
    [Parameter] public EventCallback<Vendor> CurrentVendorChanged { get; set; }

    int ev1 => CurrentVendor != null && CurrentVendor.EvaluationForm != null ? CurrentVendor.EvaluationForm.ContextOfTheOrganization1 : 0;
    int ev2 => CurrentVendor != null && CurrentVendor.EvaluationForm != null ? CurrentVendor.EvaluationForm.ContextOfTheOrganization2 : 0;
    int ev3 => CurrentVendor != null && CurrentVendor.EvaluationForm != null ? CurrentVendor.EvaluationForm.ContextOfTheOrganization3 : 0;
    int ev4 => CurrentVendor != null && CurrentVendor.EvaluationForm != null ? CurrentVendor.EvaluationForm.Leadership1 : 0;
    int ev5 => CurrentVendor != null && CurrentVendor.EvaluationForm != null ? CurrentVendor.EvaluationForm.Leadership2 : 0;
    int ev6 => CurrentVendor != null && CurrentVendor.EvaluationForm != null ? CurrentVendor.EvaluationForm.Planning1 : 0;
    int ev7 => CurrentVendor != null && CurrentVendor.EvaluationForm != null ? CurrentVendor.EvaluationForm.Planning2 : 0;
    int ev8 => CurrentVendor != null && CurrentVendor.EvaluationForm != null ? CurrentVendor.EvaluationForm.Planning3 : 0;
    int sumOfAll => ev1 + ev2 + ev3 + ev4 + ev5 + ev6 + ev7 + ev8;
    List<int> listOfValues => new() { ev1, ev2, ev3, ev4, ev5, ev6, ev7, ev8 };
    int countOfNonZeros => listOfValues.Count(e => e != 0);
    decimal supplierScore => CurrentVendor != null && CurrentVendor.EvaluationForm != null ? countOfNonZeros != 0 ? ((decimal)sumOfAll / (5 * (decimal)countOfNonZeros)) : 0 : 0;
    string? scoreClass =>
    supplierScore < 0.5m ? "unsatisfactory" :
    supplierScore >= 0.5m && supplierScore < 0.6m ? "adequate" :
    supplierScore >= 0.6m && supplierScore < 0.75m ? "satisfactory" :
    supplierScore >= 0.75m && supplierScore < 0.95m ? "good" :
    supplierScore >= 0.95m ? "excellent" : "";

    List<Attachment>? certificateList = new();

    FluentValidationValidator? evaluationFormValidator;
    List<EvaluationOptions>? selectOptions = new()
    {
        new EvaluationOptions { Selection=5, Name="Yes, documented" },
        new EvaluationOptions { Selection=3, Name="Yes, but not documented" },
        new EvaluationOptions { Selection=1, Name="No" },
        new EvaluationOptions { Selection=0, Name="Not applicable to the industry" },
    };

    protected override void OnInitialized()
    {
        if (CurrentVendor != null && CurrentVendor.EvaluationForm != null && CurrentVendor.EvaluationForm.CertificateAttachment != null)
        {
            certificateList = new() { CurrentVendor.EvaluationForm.CertificateAttachment };
        }
    }

    public async Task<bool> SaveValid()
    {
        var isFormValid = ValidateEvaluationForm();
        if (!isFormValid)
        {
            AppState?.ShowAlert("Validation errors", Severity.Error);
        }
        await CurrentVendorChanged.InvokeAsync(CurrentVendor);
        return isFormValid;
    }

    bool ValidateEvaluationForm()
    {
        return true;
    }

    async Task CertificateListChanged(List<Attachment> files)
    {
        certificateList = files;
        if (CurrentVendor != null && CurrentVendor.EvaluationForm != null && files != null && files.Any())
        {
            CurrentVendor.EvaluationForm.CertificateAttachment = files?.FirstOrDefault();
        }
        else if (CurrentVendor != null && CurrentVendor.EvaluationForm != null)
        {
            CurrentVendor.EvaluationForm.CertificateAttachment = null;
        }
        await CurrentVendorChanged.InvokeAsync(CurrentVendor);
    }

    async Task OtherAttachmentsChanged(List<Attachment> files)
    {
        if (CurrentVendor != null && CurrentVendor.EvaluationForm != null)
        {
            CurrentVendor.EvaluationForm.OtherAttachments = files;
        }
        await CurrentVendorChanged.InvokeAsync(CurrentVendor);
    }

    public class EvaluationOptions
    {
        public int Selection { get; set; }
        public string? Name { get; set; }
    }
}

<style>
    .k-form-horizontal .k-form-field > .k-form-label {
        width: 40%;
    }

    .k-form-horizontal .k-form-field-wrap {
        max-width: calc(60% - 40px);
    }

    .k-radio-list-horizontal, .k-radio-list.k-list-horizontal {
        gap: 24px;
    }

    .expiration-date-picker {
        max-width: 120px;
    }

    .unsatisfactory {
        color: #5f071c;
        background-color: #fbd0da;
    }

    .adequate {
        color: #4b1d17;
        background-color: #f1dbd8;
    }

    .satisfactory {
        color: #363312;
        background-color: #e7e6d5;
    }

    .good {
        color: #22490c;
        background-color: #dcf0d3;
    }

    .excellent {
        color: #0d5f07;
        background-color: #d2fbd0;
    }
</style>