@inject VendorService VendorService

<MudCard Class="k-p-8" Style="max-width:600px; margin:auto">
    <div>
        <h3 class="k-mb-4">INITIAL REGISTRATION FORM</h3>

        <TelerikForm EditContext="@personContext" Orientation="FormOrientation.Horizontal">
            <FormValidation>
                <FluentValidationValidator @ref="personValidator" DisableAssemblyScanning="true" />
            </FormValidation>
            <FormItems>
                <FormGroup LabelText="Contact Person">
                    <FormItem LabelText="Email: " Field="@nameof(AppUser.Email)" Enabled="false" />
                    <FormItem LabelText="Full Name: " Field="@nameof(AppUser.FullName)" />
                    <FormItem LabelText="Position: " Field="@nameof(AppUser.Position)" />
                    <FormItem LabelText="Phone Number: " Field="@nameof(AppUser.PhoneNumber)" />
                </FormGroup>
            </FormItems>
            <FormButtons />
        </TelerikForm>

        <TelerikForm EditContext="@vendorContext" Orientation="FormOrientation.Horizontal">
            <FormValidation>
                <FluentValidationValidator @ref="vendorValidator" DisableAssemblyScanning="true" />
            </FormValidation>
            <FormItems>
                <FormGroup LabelText="Company Information">
                    <FormItem LabelText="Tax ID / VÖEN: " Field="@nameof(Vendor.TaxId)">
                        <Template>
                            <label for="taxid" class="k-label k-form-label">Tax ID / VÖEN: </label>
                            <TelerikTextBox Class="k-form-field-wrap" Id="taxid" Value="@(CurrentVendor.TaxId)" ValueChanged="@((string? value) => TaxIdChanged(value))" OnBlur="@(() => TaxIdBlured())" ValueExpression="@(() => CurrentVendor.TaxId)" />
                            <TelerikValidationMessage For="@(() => CurrentVendor.TaxId)" />
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Company Name: " Field="@nameof(Vendor.VendorName)" Enabled="@(!vendorExists)" />
                    <FormItem LabelText="Location: " Field="@nameof(Vendor.Location)" Enabled="@(!vendorExists)" />
                    <FormItem LabelText="Website: " Field="@nameof(Vendor.Website)" Enabled="@(!vendorExists)" />
                    <FormItem LabelText="Products / Services provided: " Field="@nameof(Vendor.ProvidedProducts)" Enabled="@(!vendorExists)">
                        <Template>
                            <label for="productlist" class="k-label k-form-label">Products / Services provided: </label>
                            <TelerikMultiSelect Id="productlist"
                                                Class="k-form-field-wrap"
                                                Data="@productList"
                                                @bind-Value="@CurrentVendor.ProvidedProducts"
                                                Placeholder="Select ..."
                                                Width="100%" />
                            <TelerikValidationMessage For="@(() => CurrentVendor.ProvidedProducts)" />
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Company logo: " Field="@nameof(Vendor.Logo)" Enabled="@(!vendorExists)">
                        <Template>
                            <label for="companylogo" class="k-label k-form-label">Company logo: </label>
                            <FileSelect Class="k-form-field-wrap" HideList="true" Multiple="false" AllowedExtensions="@(new List<string> { ".png", ".jpg", ".jpeg" })" OnSelect="@OnLogoSelect" />
                                <TelerikValidationMessage For="@(() => CurrentVendor.Logo)" />
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Represented Products: " Field="@nameof(Vendor.RepresentedProducts)" Enabled="@(!vendorExists)" />
                    <FormItem LabelText="Represented Companies: " Field="@nameof(Vendor.RepresentedCompanies)" Enabled="@(!vendorExists)" />
                    <FormItem LabelText="Payment Terms: " Field="@nameof(Vendor.PaymentTermsCode)" Enabled="@(!vendorExists)" />
                    <FormItem LabelText="Credit Days: " Field="@nameof(Vendor.CreditDays)" Enabled="@(!vendorExists)" />
                    <FormItem LabelText="Please confirm that you agree with the 60-days payment" Field="@nameof(Vendor.AgreeWithDefaultDays)" Enabled="@(!vendorExists)">
                        <Template>
                            <label for="agreement" class="k-label k-form-label">Please confirm that you agree with the 60-days payment </label>
                            <TelerikRadioGroup Id="agreement"
                                               Class="k-form-field-wrap"
                                               Data="@BooleanModel.BooleanModelList"
                                               @bind-Value="@CurrentVendor.AgreeWithDefaultDays"
                                               TextField="Name"
                                               ValueField="Value" />
                        </Template>
                    </FormItem>
                </FormGroup>
            </FormItems>
            <FormButtons>
                <TelerikButton ButtonType="Telerik.Blazor.ButtonType.Button" OnClick="@(() => NextClickHandler())">Next</TelerikButton>
            </FormButtons>
        </TelerikForm>
    </div>
</MudCard>

@code {
    [CascadingParameter] public AppState AppState { get; set; }

    [Parameter] public AppUser? CurrentPerson { get; set; }
    [Parameter] public Vendor? CurrentVendor { get; set; }
    [Parameter] public EventCallback<AppUser> CurrentPersonChanged { get; set; }
    [Parameter] public EventCallback<Vendor> CurrentVendorChanged { get; set; }
    [Parameter] public EventCallback OnNextClick { get; set; } = new();

    EditContext? personContext = new(new AppUser());
    EditContext? vendorContext = new(new Vendor());

    FluentValidationValidator? personValidator;
    FluentValidationValidator? vendorValidator;

    List<string>? productList = new();

    bool vendorExists = false;

    protected override void OnInitialized()
    {
        personContext = new(CurrentPerson);
        vendorContext = new(CurrentVendor);
    }

    void TaxIdChanged(string? taxId)
    {
        CurrentVendor.TaxId = taxId;
    }

    async Task TaxIdBlured()
    {
        Vendor? vendor = new();
        if (CurrentVendor != null && CurrentVendor.TaxId != null) { vendor = await VendorService.GetByTaxIdAsync(CurrentVendor.TaxId); }
        if (vendor != null && vendor.TaxId != null && vendor.TaxId.Length > 0)
        {
            CurrentVendor = vendor;
            vendorExists = true;
        }
        else
        {
            ResetVendorFields();
            vendorExists = false;
        }
    }

    void ResetVendorFields()
    {
    //
    }

    void OnLogoSelect(List<Attachment> files)
    {
        if (files != null)
        {
            AppState.ShowAlert(files.Count().ToString(), Severity.Success);
        }
        else
        {
            AppState.ShowAlert("List is NULL", Severity.Warning);
        }
    }

    async Task NextClickHandler()
    {
        var valid = ValidatePerson() && ValidateVendor();
        if (valid)
        {
            await OnNextClick.InvokeAsync();
        }
        else
        {
            AppState.ShowAlert("Validation error", Severity.Error);
        }
    }

    bool ValidatePerson()
    {
        if (personValidator != null) { return personValidator.Validate(options => options.IncludeRuleSets(nameof(AppUser.FullName))); }
        return false;
    }

    bool ValidateVendor()
    {
        if (vendorValidator != null) { return vendorValidator.Validate(options => options.IncludeAllRuleSets()); }
        return false;
    }
}

<style>
    .k-form-horizontal .k-form-field > .k-form-label {
        width: 30%;
    }

    .k-form-horizontal .k-form-field-wrap {
        max-width: calc(70% - 10px);
    }
</style>