<TelerikDialog @ref="dialogRef"
               Visible="@Visible"
               VisibleChanged="@VisibleChangedHandler"
               Title="Bank Details"
               CloseOnOverlayClick="false"
               ShowCloseButton="true">
    <DialogContent>
        <TelerikForm EditContext="@currentBankContext" Orientation="FormOrientation.Horizontal">
            <FormValidation>
                <FluentValidationValidator @ref="bankValidator" DisableAssemblyScanning="true" />
            </FormValidation>
            <FormItems>
                <FormGroup LabelText="BANK DETAILS">
                    <FormItem LabelText="Bank Account Number: " Field="@nameof(Bank.BankAccountNumber)">
                        <Template>
                            <label for="accountnumber" class="k-label k-form-label">Bank Account Number: </label>
                            <div class="k-form-field-wrap">
                                <TelerikTextBox Id="accountnumber" @bind-Value="@CurrentBank.BankAccountNumber" />
                                <TelerikValidationMessage For="@(() => CurrentBank.BankAccountNumber)" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Currency Code: " Field="@nameof(Bank.CurrencyCode)">
                        <Template>
                            <label for="currencycode" class="k-label k-form-label">Currency Code: </label>
                            <div class="k-form-field-wrap">
                                <TelerikTextBox Id="currencycode" @bind-Value="@CurrentBank.CurrencyCode" />
                                <TelerikValidationMessage For="@(() => CurrentBank.CurrencyCode)" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Beneficiary Full Name: " Field="@nameof(Bank.BeneficiaryFullName)">
                        <Template>
                            <label for="fullname" class="k-label k-form-label">Beneficiary Full Name: </label>
                            <div class="k-form-field-wrap">
                                <TelerikTextBox Id="fullname" @bind-Value="@CurrentBank.BeneficiaryFullName" />
                                <TelerikValidationMessage For="@(() => CurrentBank.BeneficiaryFullName)" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Beneficiary Address: " Field="@nameof(Bank.BeneficiaryAddress)">
                        <Template>
                            <label for="beneficiaryaddress" class="k-label k-form-label">Beneficiary Address: </label>
                            <div class="k-form-field-wrap">
                                <TelerikTextBox Id="beneficiaryaddress" @bind-Value="@CurrentBank.BeneficiaryAddress" />
                                <TelerikValidationMessage For="@(() => CurrentBank.BeneficiaryAddress)" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Beneficiary Address 1: " Field="@nameof(Bank.BeneficiaryAddress1)">
                        <Template>
                            <label for="beneficiaryaddress1" class="k-label k-form-label">Beneficiary Address 1: </label>
                            <div class="k-form-field-wrap">
                                <TelerikTextBox Id="beneficiaryaddress1" @bind-Value="@CurrentBank.BeneficiaryAddress1" />
                                <TelerikValidationMessage For="@(() => CurrentBank.BeneficiaryAddress1)" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Beneficiary Bank Name: " Field="@nameof(Bank.BeneficiaryBankName)">
                        <Template>
                            <label for="beneficiarybankname" class="k-label k-form-label">Beneficiary Bank Name: </label>
                            <div class="k-form-field-wrap">
                                <TelerikTextBox Id="beneficiarybankname" @bind-Value="@CurrentBank.BeneficiaryBankName" />
                                <TelerikValidationMessage For="@(() => CurrentBank.BeneficiaryBankName)" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Beneficiary Bank Address: " Field="@nameof(Bank.BeneficiaryBankAddress)">
                        <Template>
                            <label for="beneficiarybankaddress" class="k-label k-form-label">Beneficiary Bank Address: </label>
                            <div class="k-form-field-wrap">
                                <TelerikTextBox Id="beneficiarybankaddress" @bind-Value="@CurrentBank.BeneficiaryBankAddress" />
                                <TelerikValidationMessage For="@(() => CurrentBank.BeneficiaryBankAddress)" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Beneficiary Bank Address 1: " Field="@nameof(Bank.BeneficiaryBankAddress1)">
                        <Template>
                            <label for="beneficiarybankaddress1" class="k-label k-form-label">Beneficiary Bank Address 1: </label>
                            <div class="k-form-field-wrap">
                                <TelerikTextBox Id="beneficiarybankaddress1" @bind-Value="@CurrentBank.BeneficiaryBankAddress1" />
                                <TelerikValidationMessage For="@(() => CurrentBank.BeneficiaryBankAddress1)" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Beneficiary Bank Code: " Field="@nameof(Bank.BeneficiaryBankCode)">
                        <Template>
                            <label for="beneficiarybankcode" class="k-label k-form-label">Beneficiary Bank Code: </label>
                            <div class="k-form-field-wrap">
                                <TelerikTextBox Id="beneficiarybankcode" @bind-Value="@CurrentBank.BeneficiaryBankCode" />
                                <TelerikValidationMessage For="@(() => CurrentBank.BeneficiaryBankCode)" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Intermediary Bank Code Number: " Field="@nameof(Bank.IntermediaryBankCodeNumber)">
                        <Template>
                            <label for="intermediarybankcodenumber" class="k-label k-form-label">Intermediary Bank Code Number: </label>
                            <div class="k-form-field-wrap">
                                <TelerikTextBox Id="intermediarybankcodenumber" @bind-Value="@CurrentBank.IntermediaryBankCodeNumber" />
                                <TelerikValidationMessage For="@(() => CurrentBank.IntermediaryBankCodeNumber)" />
                            </div>
                        </Template>
                    </FormItem>
                    <FormItem LabelText="Intermediary Bank Code Type: " Field="@nameof(Bank.IntermediaryBankCodeType)">
                        <Template>
                            <label for="intermediarybankcodetype" class="k-label k-form-label">Intermediary Bank Code Type: </label>
                            <div class="k-form-field-wrap">
                                <TelerikTextBox Id="intermediarybankcodetype" @bind-Value="@CurrentBank.IntermediaryBankCodeType" />
                                <TelerikValidationMessage For="@(() => CurrentBank.IntermediaryBankCodeType)" />
                            </div>
                        </Template>
                    </FormItem>
                </FormGroup>
            </FormItems>
            <FormButtons />
        </TelerikForm>
    </DialogContent>
    <DialogButtons>
        <TelerikButton Rounded="@Telerik.Blazor.ThemeConstants.Button.Rounded.Small" OnClick="@SaveHandler" ThemeColor="primary">Save</TelerikButton>
        <TelerikButton Rounded="@Telerik.Blazor.ThemeConstants.Button.Rounded.Small" OnClick="@CancelHandler">Cancel</TelerikButton>
    </DialogButtons>
</TelerikDialog>

@code {
    [Parameter] public bool Visible { get; set; } = false;
    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter] public Bank? CurrentBank { get; set; }
    [Parameter] public EventCallback<Bank> CurrentBankChanged { get; set; }

    EditContext? currentBankContext = new(new Bank());
    TelerikDialog? dialogRef;
    FluentValidationValidator? bankValidator;

    protected override void OnInitialized()
    {
        currentBankContext = new(CurrentBank);
    }

    async Task VisibleChangedHandler(bool visible)
    {
        Visible = visible;
        await VisibleChanged.InvokeAsync(Visible);
    }

    async Task SaveHandler()
    {
        var isValid = ValidateBank();
        if (isValid)
        {
            await CurrentBankChanged.InvokeAsync(CurrentBank);
            await CancelHandler();
        }
    }

    async Task CancelHandler()
    {
        Visible = false;
        await VisibleChanged.InvokeAsync(Visible);
    }

    bool ValidateBank()
    {
        if (bankValidator != null) { return bankValidator.Validate(options => options.IncludeAllRuleSets()); }
        return false;
    }
}

<style>
    .k-form-horizontal .k-form-field > .k-form-label {
        width: 30%;
    }

    .k-form-horizontal .k-form-field-wrap {
        max-width: calc(70% - 10px);
    }
</style>